body {
    background-color:#f3f6ff;
}

.topside {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 7%;
}

.topsidetitle {
    display:flex;
    flex-direction: column;

}

.links {
    display:flex;
    justify-content: end;
}

.capstonetitle {
    font-family: "Libre Baskervdille", serif;
   font-weight: 900;
   font-style: normal;
   position:relative;
   left:10px;
   font-size: 40px;
   margin-bottom:0px;
}
   
.capstonename {
   font-family: "Alice", serif;
   font-weight: 400;
   font-style: normal;
    position: relative;
    top:5px;  
    left: 10px;
   font-size:30px;
   margin:0 0 10px 0;
}

.titles {
    text-align: center;
    margin: 0 7%;
}
   
.head1 {
    width:100%;
    position: relative;
    margin:1em 0em 0em 0em;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-size:5em;
}

.head2{
width:100%;
position: relative;
margin:0em 0em 3em 0em;
font-family: "Alice", serif;
font-weight: 400;
font-style: normal;
font-size:8em;
}

.button {
    position:relative;
    top: 3em;
    right:3em;
    margin: 0px 8px;
    text-decoration:none;
    color:black;
    font-size:20px;

    
 font-family: "Alice", serif;
 font-weight: 700;
 font-style: normal;
}

.button:hover{
    color:red;
}

.image {
    width:50%;
    height: auto;

}
.bending {
    width:40%;
    
}
.projectcontain {
   display:flex;
   flex-direction: column;

}

.container {
   
display:flex;
flex-direction: row;
justify-content: space-between;
margin:2em 0em;
height: 400px;
align-items: center ;

}

.project {
    display:flex;
    flex-direction: column;
   align-items:center;
   width:50%;

}

.img4 {
 width: auto;
    height: 16em;
}

.title {
    font-family: "Libre Baskerville", serif;
    font-weight: 900;
    font-style: normal;
    margin:1em 0em;
    font-size: 5em;
    display:flex;
    
    justify-content: center;
}

.pjttxt {
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
}

.buton {
       
        margin: 0px 8px;
        text-decoration:none;
        color:black;
        font-size:20px;
        
    
        
     font-family: "Alice", serif;
     font-weight: 700;
     font-style: normal;
}

.buton:hover {
    background-color: wheat;
}
