body {
    background-color:#f3f6ff;
}

.topside {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 7%;
}

.topsidetitle {
    display:flex;
    flex-direction: column;

}

.links {
    display:flex;
    justify-content: end;
}

.capstonetitle {
    font-family: "Libre Baskervdille", serif;
   font-weight: 900;
   font-style: normal;
   position:relative;
   left:10px;
   font-size: 40px;
   margin-bottom:0px;
}
   
.capstonename {
   font-family: "Alice", serif;
   font-weight: 400;
   font-style: normal;
    position: relative;
    top:5px;  
    left: 10px;
   font-size:30px;
   margin:0 0 10px 0;
}

.titles {
    text-align: center;
    margin: 0 7%;
}
   
.head1 {
    width:100%;
    position: relative;
    margin:1em 0em 0em 0em;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-size:5em;
}

.head2{
width:100%;
position: relative;
margin:0em 0em 3em 0em;
font-family: "Alice", serif;
font-weight: 400;
font-style: normal;
font-size:8em;
}

.button {
    position:relative;
    top: 3em;
    right:3em;
    margin: 0px 8px;
    text-decoration:none;
    color:black;
    font-size:20px;

    
 font-family: "Alice", serif;
 font-weight: 700;
 font-style: normal;
}

.button:hover{
    color:red;
}


/* timeline */

.Timeline {
    margin-left: 6%;
     font-family: "Libre Baskervdille", serif;
   font-weight: 900;
   font-style: normal;
    display:flex;
    jsutify-content:center;
}

.Linecreate {
    border-left: 5px solid black;
    margin: 3px 0px 0px 10px;
    padding: 0px 10px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top:5em;
    right:20px;
}

.container {
    display:flex;
    flex: row;
}

.timehead2 {
    font-family: "Libre Baskervdille", serif;
   font-weight: 900;
   font-style: normal;
   font-size:2em;
}

.timepar{
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-size:2em;
}

.textbox {
    background-color: white;
    width:60%;
    margin: 1em 0em;
    padding: 15px;
    border: solid 5px black;
    border-radius: 6px;
}

.textbox h3 {
    text-transform: uppercase;
}

.odin {
   width:150px;
   height: fit-content;
   position: relative;
   left:5em; 
   top:3em;
   border: solid 5px black;
   }
   
.panther {
    width: 250px;
}
